@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark --prefersdark, night, retro, nord;
}

@plugin "@tailwindcss/typography";

@layer utilities {
  
}

@layer components {
  @import "./quill.css";
}



.ql-tooltip {
  left: 0 !important;
}


@source "../views";
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';


[x-cloak] {
  display: none;
}